<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default panel-aneib">
  <div class="panel-heading">
    Datos de la cuenta
  </div>
  <div class="panel-body">
    <div class="field">
      <%= f.label :title, "Título" %><br>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :description, "Descripción" %><br>
      <%= f.text_area :description, :placeholder=> "Escribir aquí.", :id=>"eg-basic",:required=>true %>
    </div>
    <div class="field">
      <%= f.label :classification %><br>
      <%= f.select(:classification, [['Ingreso', 1],['Egreso', 2]], {:include_blank => '— Seleccione una opción —'}, { :class => 'form-control', :required => true }) %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "aceptar", :class => 'btn btn-default btn-form' %>
    </div>
  </div>
</div>
<% end %>
