<%nombre ||= "sección"%>
<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		Listado de <%=nombre%> anteriores
	</div>
	<div class="panel-body">
		<table id="portal_dt">
			<thead>
				<tr>
					<td>Título</td>
					<td>Autor</td>
					<td>Administrar</td>
				</tr>
			</thead>
			<tbody>
				<% @portals.each do |portal| %>
					<tr>
						<td> <%=link_to '<i class="glyphicon glyphicon-circle-arrow-right"></i> '.html_safe+portal.title,portal %></td>
						<td> <%= portal.user.nickname%> </td>
						<td> 
							<%= link_to '<i class="glyphicon glyphicon-eye-open gportal"></i>'.html_safe, portal %>	
							<%if current_user == portal.user || current_user.category == 1%>			
								<%= link_to '<i class="glyphicon glyphicon-pencil gportal"></i>'.html_safe, edit_portal_path(portal)%> 
								<%= link_to '<i class="glyphicon glyphicon-trash gportal"></i>'.html_safe, portal, method: :delete, data: { confirm: '¿Está seguro de eliminar esta sección?' } %>
							<%end%>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>

	</div>
</div>

<%=link_to "Volver", administration_index_path, :class=>"btn btn-default btn-form"%>
<script>
	$(document).ready(function() {
		$('#portal_dt').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"scrollCollapse": true,
			"paging": false,
			"columns": [
				{ "width": "60%" },
				{ "width": "25%" },
				{ "width": "15%" }
			],
			"order": [[ 1, "desc" ]]
		});
	} );
</script>