<h1>Administración del sitio </h1> 

<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		Administración del Portal Web
	</div>
	<div class="panel-body">
		<center>
			<%= link_to "Administrar noticias", administration_noticias_path, class:"btn btn-default btn-admin"%>

			<%if current_user.category == 1%>
				<%= link_to "Administrar 'hazte socio'", administration_socio_path, class:"btn btn-default btn-admin"%>
				<%= link_to "Administrar '¿Qué es CONEIB?'", administration_coneib_path, class:"btn btn-default btn-admin"%>
				<%= link_to "Administrar '¿Quiénes somos?'", administration_somos_path, class:"btn btn-default btn-admin"%>
				<%= link_to "Administrar eventos", administration_eventos_path, class:"btn btn-default btn-admin"%>
				<%= link_to "Administrar Redes sociales", administration_links_path, class:"btn btn-default btn-admin"%>
			<%end%>
		</center>
	</div>
	<div class="panel-footer">
		<p class="note">El portal web es el sitio público que pueden ver todos los usuarios incluso no registrados.</p>		
	</div>
</div>

<%if current_user.category != 4%>

	<div class="panel panel-default panel-aneib">
		<div class="panel-heading">
			Administración de la Intranet
		</div>
		<div class="panel-body">
			<center>
				<%if current_user.category == 1%>
					<%= link_to "Administrar cuentas claras", administration_cuentas_path, class:"btn btn-default btn-admin"%>
					<%= link_to "Administrar articulos del estatuto", administration_estatuto_path, class:"btn btn-default btn-admin"%>
					<%= link_to "Administrar temas del foro", administration_topicos_path, class:"btn btn-default btn-admin"%>
					<%= link_to "Administrar usuarios", users_user_list_path, class:"btn btn-default btn-admin"%>
				<%end%>

				<%= link_to "Administrar recursos", administration_recursos_path, class:"btn btn-default btn-admin"%>
			</center>
		</div>
		<div class="panel-footer">
			<p class="note">La Intranet es el sitio privado, donde solo los usuarios registrados y validados por un administrador pueden visitar.</p>		
		</div>
	</div>

<%end%>

