<h1>Administración de recursos </h1>
<%=link_to "Nuevo recurso", new_resource_path, :class=>"btn btn-default btn-form"%>
<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
	<ul class="nav nav-tabs tabRease nav-justified">
		<li id="res1" onclick="res1()"><a>Actas</a></li>
		<li id="res2" onclick="res2()"><a>Planillas</a></li>
		<li id="res3" onclick="res3()"><a>Extras</a></li>
	</ul>
	</div>
	<div class="panel-body">
		<div id="actas">
			<table id="actas_dt">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Fecha</th>
						<th>Autor</th>
						<th>Opciones</th>
					</tr>
				</thead>

				<tbody>
					<% @actas.each do |resource| %>
						<tr>
						<td> <%=link_to '<i class="glyphicon glyphicon-circle-arrow-right"></i> '.html_safe+resource.name,resource %></td>
						<td><%=l resource.date%></td>
						<td><%= resource.user.nickname%></td>
						<td>
							<%= link_to '<i class="glyphicon glyphicon-download-alt gportal"></i>'.html_safe, resource.archive.url, :target => "_blank" %> -
							<%= link_to '<i class="glyphicon glyphicon-eye-open gportal"></i>'.html_safe, resource %>
							<%= link_to '<i class="glyphicon glyphicon-trash gportal"></i>'.html_safe, resource, method: :delete, data: { confirm: '¿Está seguro de eliminar este recurso?' } %>
						</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div id="planillas">
			<table id="planillas_dt">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Fecha</th>
						<th>Autor</th>
						<th>Opciones</th>
					</tr>
				</thead>

				<tbody>
					<% @planillas.each do |resource| %>
						<tr>
						<td> <%=link_to '<i class="glyphicon glyphicon-circle-arrow-right"></i> '.html_safe+resource.name,resource %></td>
						<td><%=l resource.date%></td>
						<td><%= resource.user.nickname%></td>
						<td>
							<%= link_to '<i class="glyphicon glyphicon-download-alt gportal"></i>'.html_safe, resource.archive.url, :target => "_blank" %> -
							<%= link_to '<i class="glyphicon glyphicon-eye-open gportal"></i>'.html_safe, resource %>
							<%= link_to '<i class="glyphicon glyphicon-trash gportal"></i>'.html_safe, resource, method: :delete, data: { confirm: '¿Está seguro de eliminar este recurso?' } %>
						</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div id="extras">
			<table id="extras_dt">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Fecha</th>
						<th>Autor</th>
						<th>Opciones</th>
					</tr>
				</thead>

				<tbody>
					<% @extras.each do |resource| %>
						<tr>
						<td> <%=link_to '<i class="glyphicon glyphicon-circle-arrow-right"></i> '.html_safe+resource.name,resource %></td>
						<td><%=l resource.date%></td>
						<td><%= resource.user.nickname%></td>
						<td>
							<%= link_to '<i class="glyphicon glyphicon-download-alt gportal"></i>'.html_safe, resource.archive.url, :target => "_blank" %> -
							<%= link_to '<i class="glyphicon glyphicon-eye-open gportal"></i>'.html_safe, resource %> 
							<%= link_to '<i class="glyphicon glyphicon-trash gportal"></i>'.html_safe, resource, method: :delete, data: { confirm: '¿Está seguro de eliminar este recurso?' } %>
						</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%=link_to "Volver", administration_index_path, :class=>"btn btn-default btn-form"%>
<script type="text/javascript">
	document.getElementById('actas').style.display='block'; 
	document.getElementById("res1").className = "active"; 
	document.getElementById('planillas').style.display='none';
	document.getElementById('extras').style.display='none';

	function res1(){
		document.getElementById('actas').style.display='block'; 
		document.getElementById('planillas').style.display='none';
		document.getElementById('extras').style.display='none';
		document.getElementById("res1").className = "active";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "";
	}
	function res2(){
		document.getElementById('actas').style.display='none';	
		document.getElementById('planillas').style.display='block';
		document.getElementById('extras').style.display='none';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "active";
		document.getElementById("res3").className = "";

	}
	function res3(){
		document.getElementById('actas').style.display='none';		
		document.getElementById('planillas').style.display='none';
		document.getElementById('extras').style.display='block';
		document.getElementById("res3").className = "active";
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "";
	}

	$(document).ready(function() {
		$($("#actas_dt,#planillas_dt,#extras_dt")).DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"scrollCollapse": true,
			"paging": false
		});
	} );
</script>

