<h1>Administración Recursos</h1>
<%= link_to "Nuevo recurso", new_resource_path, class:"btn btn-default btn-admin"%>

<ul class="nav nav-tabs tabRease nav-justified">
	<li id="res1" onclick="res1()"><a>Actas</a></li>
	<li id="res2" onclick="res2()"><a>Planillas</a></li>
	<li id="res3" onclick="res3()"><a>Extras</a></li>
</ul>
<div id="actas">
	<div class="panel panel-default panel-aneib">
		<div class="panel-heading">
			actas disponibles
		</div>
		<div class="panel-body">
			<%if @actas.present?%>
				<% @actas.each do |resource| %>
					<p> <%=resource.name%>: <%=l resource.date%> - 
					<%= link_to 'Ver recurso', resource.archive.url, :target => "_blank" %> -
					<%= link_to 'Detalle', resource %> -
					<%= link_to 'eliminar recurso', resource, method: :delete, data: { confirm: '¿Seguro que desea eliminar esta acta?' } %>
					</p>
				<%end%>
			<%else%>
				<p>No hay actas de reuniones disponibles</p>
			<%end%>
		</div>
	</div>
</div>

<div id="planillas">
	<div class="panel panel-default panel-aneib">
		<div class="panel-heading">
			planillas disponibles
		</div>
		<div class="panel-body">
		<%if @planillas.present?%>
			<% @planillas.each do |resource| %>
				<p> <%=resource.name%>: <%=l resource.date%> - 
				<%= link_to 'Ver recurso', resource.archive.url,:target => "_blank" %> -
				<%= link_to 'Detalle', resource %> -
				<%= link_to 'eliminar recurso', resource, method: :delete, data: { confirm: '¿Seguro que desea eliminar esta acta?' } %>
				</p>
			<%end%>
		<%else%>
			No hay planillas de recursos disponibles
		<%end%>
		</div>
	</div>
</div>

<div id="extras">
	<div class="panel panel-default panel-aneib">
		<div class="panel-heading">
			extras disponibles
		</div>
		<div class="panel-body">
			<%if @extras.present?%>
				<% @extras.each do |resource| %>
					<p> <%=resource.name%>: <%=l resource.date%> - 
					<%= link_to 'Ver recurso', resource.archive.url,:target => "_blank" %> -
					<%= link_to 'Detalle', resource %> -
					<%= link_to 'eliminar recurso', resource, method: :delete, data: { confirm: '¿Seguro que desea eliminar esta acta?' } %>
					</p>
				<%end%>
			<%else%>
				No hay recursos extras disponibles
			<%end%>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.getElementById('actas').style.display='block'; 
	document.getElementById("res1").className = "active"; 
	document.getElementById('planillas').style.display='none';
	document.getElementById('extras').style.display='none';
	
	function res1(){
		document.getElementById('actas').style.display='block'; 
		document.getElementById('planillas').style.display='none';
		document.getElementById('extras').style.display='none';
		document.getElementById("res1").className = "active";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "";
	}
	function res2(){
		document.getElementById('actas').style.display='none';  
		document.getElementById('planillas').style.display='block';
		document.getElementById('extras').style.display='none';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "active";
		document.getElementById("res3").className = "";

	}
	function res3(){
		document.getElementById('actas').style.display='none';    
		document.getElementById('planillas').style.display='none';
		document.getElementById('extras').style.display='block';
		document.getElementById("res1").className = "";
		document.getElementById("res2").className = "";
		document.getElementById("res3").className = "active";
	}
</script>
