<h1>Administración del Foro</h1>
<%= link_to "Nuevo tema", new_topic_path, class:"btn btn-default btn-form"%>
<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		Listado de temas del foro
	</div>
	<div class="panel-body">
		<table id="topic_dt">
			<thead>
				<tr>
					<td>Título</td>
					<td>Autor</td>
					<td>Creación</td>
					<td>Estado</td>
					<td>Administrar</td>
				</tr>
			</thead>
			<tbody>
				<% @topics.each do |topic| %>
					<tr>
						<td> <%=link_to '<i class="glyphicon glyphicon-circle-arrow-right"></i> '.html_safe+topic.title,topic %></td>
						<td> <%= topic.user.nickname%> </td>
						<td><%= time_ago_in_words(topic.created_at)%></td>
						<td>
							<%if topic.status == 1%>
								Activo
							<%else%>
								Inactivo
							<%end%>		
						</td>
						<td> 
						<%= link_to '<i class="glyphicon glyphicon-eye-open gportal"></i>'.html_safe, topic %>				
						<%= link_to '<i class="glyphicon glyphicon-pencil gportal"></i>'.html_safe, edit_topic_path(topic)%> 
						<%= link_to '<i class="glyphicon glyphicon-trash gportal"></i>'.html_safe, topic, method: :delete, data: { confirm: '¿Está seguro de eliminar este tema de discusión?' } %>
					</tr>
				<%end%>
			</tbody>
		</table>

	</div>
</div>
<%=link_to "Volver", administration_index_path, :class=>"btn btn-default btn-form"%>
<script>
	$(document).ready(function() {
		$('#topic_dt').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"scrollCollapse": true,
			"paging": false,
			"columns": [
				{ "width": "45%" },
				{ "width": "15%" },
				{ "width": "15%" },
				{ "width": "5%" },
				{ "width": "15%" }
			],
			"order": [[ 1, "desc" ]]
		});
	} );
</script>