<h1>Administración de temas del foro</h1>

<table id="forum_dt">
	<thead>
		<tr>
		<th></th>
		<th>Título del tema</th>
		<th>Estado</th>
		<th>Creación</th>
		<th>Administrar</th>
		</tr>
	</thead>

	<tbody>
		<% @topics.each do |topic| %>
		<tr>
		<td><%= link_to '<i class="glyphicon glyphicon-circle-arrow-right"></i>'.html_safe, topic %></td>
		<td><%= link_to topic.title, topic %></td>

		<td>
			<%if topic.status == 1%>
				Activo
			<%else%>
				Inactivo
			<%end%>			
		</td>
		<td><%= time_ago_in_words(topic.created_at)%></td>
		<td><%= link_to '<i class="glyphicon glyphicon-cog"></i>'.html_safe, edit_topic_path(topic) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%if current_user.category == 1%>
<%= link_to 'Agregar nuevo tema', new_topic_path, :class =>'btn btn-default btn-form' %>
<%end%>

<script>
	$(document).ready(function() {
		$('#forum_dt').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"scrollCollapse": true,
			"paging": false,
			"columns": [
				{ "width": "5%" },
				{ "width": "55%" },
				{ "width": "10%" },
				{ "width": "15%" },
				{ "width": "15%" }
			],
			"order": [[ 4, "desc" ]]
		});
	} );
</script>