<h1>Foro ANEIB</h1>
<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		Temas de discusión
	</div>
	<div class="panel-body">
		<table id="forum_dt">
			<thead>
				<tr>
				<th></th>
				<th>Título del tema</th>
				<th># Posts</th>
				<th>Creación</th>
				<th>Administrador</th>
				</tr>
			</thead>

			<tbody>
				<% @topics.each do |topic| %>
				<tr>
					<td><%= link_to '<i class="glyphicon glyphicon-circle-arrow-right"></i>'.html_safe, topic %></td>
					<td><%= link_to topic.title, topic %></td>
					<td><%= topic.articles.count %></td>
					<td><%= time_ago_in_words(topic.created_at)%></td>
					<td><%= topic.user.nickname%></td>
				</tr>
				<% end %>
			</tbody>
		</table>	
	</div>
</div>



<%if current_user.category == 1%>
<%= link_to 'Administar temas de discusión', administration_topicos_path, :class =>'btn btn-default btn-form' %>
<%end%>

<script>
	$(document).ready(function() {
		$('#forum_dt').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"scrollCollapse": true,
			"paging": false,
			"columns": [
				{ "width": "5%" },
				{ "width": "55%" },
				{ "width": "10%" },
				{ "width": "15%" },
				{ "width": "15%" }
			],
			"order": [[ 4, "desc" ]]
		});
	} );
</script>