<% if !user_signed_in? %>
	<li class="<%= 'active' if current_page?(user_session_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Inicia sesion'.html_safe, user_session_path %>
	</li>
	<li class="<%= 'active' if current_page?(portals_somos_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> ¿Quiénes somos?'.html_safe, portals_somos_path%>
	</li>
	<li class="<%= 'active' if current_page?(new_user_registration_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Hazte socio'.html_safe, new_user_registration_path %>
	</li>
	<li class="<%= 'active' if current_page?(portals_coneib_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> ¿Qué es CONEIB?'.html_safe, portals_coneib_path %>
	</li >
	<li class="disabled">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Galeria'.html_safe, portals_somos_path %>
	</li>
	<li class="<%= 'active' if current_page?(events_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Eventos'.html_safe, events_path %>
	</li>
	<li class="<%= 'active' if current_page?(contacts_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Contacto'.html_safe, contacts_path %>
	</li>
<%else%>
	<li class="<%= 'active' if current_page?(portals_somos_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Mi cuenta'.html_safe, portals_somos_path %>
	</li>
	<li class="disabled">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Cuentas claras'.html_safe, finances_path %>
	</li>
	<li class="<%= 'active' if current_page?(new_user_session_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Estatuto'.html_safe, portals_estatuto_path %>
	</li>
	<li class="<%= 'active' if current_page?(user_session_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Organización CONEIB'.html_safe, organizations_path %>
	</li>
	<li class="<%= 'active' if current_page?(resources_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Recursos'.html_safe, resources_path %>
	</li>
	<li class="disabled">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Galeria'.html_safe, portals_somos_path %>
	</li>
	<li class="<%= 'active' if current_page?(events_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Eventos'.html_safe, events_path %>
	</li>
	<!-- Poner solo si es administrador -->
	<%if current_user.category == 1%>
		<li class="<%= 'active' if current_page?(administration_index_path) %>">
			<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Administrar Portal Web'.html_safe, administration_index_path %>
		</li>
	<%end%>
	<li class="<%= 'active' if current_page?(destroy_user_session_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Cerrar sesión'.html_safe, destroy_user_session_path, method: :delete %>
	</li>
<%end%>