<h1> Todos los usuarios registrados </h1>

<div class="panel panel-default panel-aneib">
	<div class="panel-heading">
		Usuarios registrados
	</div>
	<div class="panel-body">
		<table id = "user_dt" class="table-aneib">
			<thead>
				<tr>
					<td>Nombre</td>
					<td>Nick</td>
					<td>Categoría</td>
					<td>Administrar</td>
				</tr>
			</thead>
			<tbody>
				<%@users.each do |user|%>
					<tr>
					
						<td><%=link_to user.name, user%></td>
						<td><%=user.nickname%></td>
					<td>	
							<%if user.confirmed_at == nil%>
								<i class="glyphicon glyphicon-remove-circle", style = "color: red;"></i>
							<%end%>					
							<%if user.status == 1%>
								<i class="glyphicon glyphicon-time", style = "color: yellow;"></i>
							<%elsif user.status == 2%>
								<i class="glyphicon glyphicon-ok-circle", style = "color: green;"></i>
							<%else%>
								<i class="glyphicon glyphicon-ban-circle", style = "color: red;"></i>
							<%end%>	
							<%if user.category == 1%>
								Administrador
							<%elsif user.category == 2%>
								Delegado
							<%elsif user.category == 3%>
								Socio
							<%elsif user.category == 4%>
								Media Partner
							<%end%>							
						</td>
						<td><%=link_to '<i class="glyphicon glyphicon-pencil gportal"></i>'.html_safe, edit_user_path(user)%>
						<%= link_to '<i class="glyphicon glyphicon-eye-open gportal"></i>'.html_safe, user %>				

						</td>					
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<p><i class="glyphicon glyphicon-ok-circle", style = "color: green;"></i>
			Usuario confirmado por administrador
		</p>
		<p><i class="glyphicon glyphicon-time", style = "color: yellow;"></i>
			Usuario eperando a ser validado por administrador
		</p>
		<p><i class="glyphicon glyphicon-ban-circle", style = "color: red;"></i>
			Usuario bloqueado por administrador
		</p>
		<p><i class="glyphicon glyphicon-remove-circle", style = "color: red;"></i>
			Usuario que aún no ha validado su correo electrónico.
		</p>
		<p class="note">Todos los usuarios deben ser autorizados por un administrador</p>		
	</div>
</div>
<%=link_to "Volver", administration_index_path, :class=>"btn btn-default btn-form"%>
<script>
	$(document).ready(function() {
		$('#user_dt').DataTable({
			"language": {
				"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
			},
			"scrollY": "200px",
			"scrollCollapse": true,
			"paging": false,
			"columns": [
				{ "width": "50%" },
				{ "width": "25%" },
				{ "width": "20%" },
				{ "width": "5%" },
			]
		});
	} );
</script>