<h1>Detalles del evento</h1>

<% if user_signed_in? && current_user.category != 3 %>
	<% if @event.user.id == current_user.id || current_user.category == 1%>
		<%= link_to 'Editar evento', edit_event_path(@event), :class => "btn btn-default btn-form" %>
		<%= link_to 'Eliminar evento', @event, method: :delete, data: { confirm: '¿Está seguro de eliminar el evento?' }, :class => "btn btn-default btn-form" %>
	<% end %>
<% end %>

<%= link_to 'Volver', events_path, :class => "btn btn-default btn-form" %>

<div class="panel panel-default panel-aneib" >
	<div class="panel-heading">
		<%= @event.title %>
	</div>
	
	<div class="panel-body">

		<h4>Descripción</h4>
		 <p><%=raw @event.description %></p>

		<h4> Información </h4>
		<p><strong>Dirección: </strong><%= @event.address %></p>
		<p><strong>Estado: </strong>
		<% if @event.status == 1%>
			Disponible
		<%end%>
		<% if @event.status == 2%>
			Realizado
		<%end%>
		<% if @event.status == 3%>
			Cancelado
		<%end%>
		<% if @event.status == 4%>
			Caducado
		<%end%>
		</p>
		
		<p><strong>Fecha y hora de inicio: </strong><%=l @event.start_time %></p>

		<p><strong>Fecha y hora de término: </strong><%=l @event.end_time %></p>
	</div>
	<div class="panel-footer">
		<h4>Comentarios</h4>
		<%if user_signed_in?%>
			<%= render "event_comments/form" %>
		<%else%>
			<%=link_to "Conectate para comentar", user_session_path, :class=>'btn btn-default btn-form'%>
		<%end%>	
		<% @comments.each do |comment| %>
			<hr class = "hr-comment">
			<table class="table-comment">
				<tr>
					<td>
						<%= image_tag comment.user.photo.url(:mini), :class =>"comment-picture" %> 
					</td>
					<td>
						<%= link_to comment.user.nickname, comment.user%> comentó hace <%= time_ago_in_words(comment.created_at)%>: 
						<%if user_signed_in?%>
							<%if current_user == comment.user or current_user.category == 1 %><%= link_to 'Eliminar', event_event_comment_path(@event,comment), method: :delete, data: { confirm: '¿Está seguro de eliminar el comentario?' }, :class => "btn btn-default btn-comment"%>
							<%end%>	
						<%end%>
						<p><%=raw comment.body%></p>
					</td>
				</tr>
			</table>
		<%end%>
		<hr class = "hr-comment">
		<%= will_paginate @comments,  :class=>'aneib_pagination' %>
	</div>
</div>

