<%seccion ||= 1%>
<%accion ||= "Crear" %>
<%= form_for(@portal) do |f| %>
	<% if @portal.errors.any? %>
		<div id="error_explanation">
			<% @portal.errors.full_messages.each do |message| %>
				<%flash[:alert] = "No se pudo generar la sección por lo siguiente:<br>".html_safe+message %>
			<% end %>
		</div>
	<% end %>

	<div class="panel panel-default panel-aneib">
		<div class="panel-heading">
			Administración de una sección de 
			<%if seccion == 1%>
				Noticias
			<%elsif seccion == 2%>
				¿Quiénes somos?
			<%elsif seccion == 3%>
				¿Qué es ANEIB?
			<%else%>
				Estatuto
			<%end%>
		</div>
		<div class="panel-body">
			<div class="field">
					<%= f.label :title, "Título" %>
					<%= f.text_field :title, class:"form-control" %>
				</div>

				<%if accion == "Nuevo"%>
					<p><strong>Sección: </strong>
						<%if seccion == 1%>
							Noticia
							<%= f.hidden_field :section, :value=>1%>
						<%elsif seccion == 2%>
							¿Quiénes somos?
							<%= f.hidden_field :section, :value=>2%>
						<%elsif seccion == 3%>
							¿Qué es CONEIB?
							<%= f.hidden_field :section, :value=>3%>
						<%elsif seccion == 4%>
							Estatuto
							<%= f.hidden_field :section, :value=>4%>
						<%elsif seccion == 5%>
							Hazte socio
							<%= f.hidden_field :section, :value=>5%>
						<%end%>
					</p>
				<%else%>
					<p><strong>Sección: </strong>
						<%if @portal.section == 1%>
							Noticia
						<%elsif @portal.section == 2%>
							¿Quiénes somos?
						<%elsif @portal.section == 3%>
							¿Qué es CONEIB?
						<%elsif @portal.section == 4%>
							Estatuto
						<%elsif @portal.section == 5%>
							Hazte socio
						<%end%>
					</p>
				<%end%>	
				<div class="field">
					<%= f.label :body, "Descripción" %>
					<%= f.text_area :body, :placeholder=> "Escribir aquí.", :id=>"eg-basic",:required=>true %>
				</div>

		</div>
	</div>
<div class="actions">
	<%= f.submit "Aceptar",:class=>"btn btn-default btn-form" %>
	<%= link_to 'Volver', :back,:class=>'btn btn-default btn-form' %>
</div>	
<% end %>
