<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @portal.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @portal.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portal.body %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @portal.priority %>
</p>

<p>
  <strong>Section:</strong>
  <%= @portal.section %>
</p>

<%= link_to 'Edit', edit_portal_path(@portal) %> |
<%= link_to 'Back', portals_path %>
