<div class="panel panel-default panel-aneib">

	<%= form_for(@interest_link) do |f| %>
		<% if @interest_link.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@interest_link.errors.count, "error") %> prohibited this interest_link from being saved:
				</h2>

				<ul>
					<% @interest_link.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="panel-heading">
			Datos de la red social
		</div>
		<div class="panel-body">
			<div class="field">
				<%= f.label :name, "Nombre" %>
				<%= f.text_field :name, :class=>'form-control',:placeholder => 'Nombre del sitio' %>
			</div>
			<br>
			<div class="field">
				<%= f.label :url, "Dirección web" %>
				<%= f.text_field :url, :class=>'form-control',:placeholder => 'Página web. Ejemplo: http://www.ejemplo.com' %>
			</div>
		</div>	
</div>		
		<div class="actions">
			<%= f.submit 'Aceptar', :class=>'btn btn-default btn-form' %>
			<%= link_to 'Volver', administration_links_path,:class=>'btn btn-default btn-form' %>
		</div>
		<% end %>
		

</div>