<p id="notice"><%= notice %></p>

<h1>Redes sociales</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interest_links.each do |interest_link| %>
      <tr>
        <td><%= interest_link.name %></td>
        <td><%= interest_link.url %></td>
        <td><%= interest_link.description %></td>
        <td><%= link_to 'Show', interest_link %></td>
        <td><%= link_to 'Edit', edit_interest_link_path(interest_link) %></td>
        <td><%= link_to 'Destroy', interest_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interest link', new_interest_link_path %>
