<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interest_link.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @interest_link.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @interest_link.description %>
</p>

<%= link_to 'Edit', edit_interest_link_path(@interest_link) %> |
<%= link_to 'Back', interest_links_path %>
