<% if !user_signed_in? %>
	<li class="<%= 'active' if current_page?(user_session_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Inicia sesion'.html_safe, user_session_path %>
	</li>
	<li class="<%= 'active' if current_page?(portals_somos_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> ¿Quiénes somos?'.html_safe, portals_somos_path%>
	</li>
	<li class="<%= 'active' if current_page?(new_user_registration_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Hazte socio'.html_safe, new_user_registration_path %>
	</li>
	<li class="<%= 'active' if current_page?(portals_coneib_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> ¿Qué es CONEIB?'.html_safe, portals_coneib_path %>
	</li >
	<li class="<%= 'active' if current_page?(events_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Eventos'.html_safe, events_path %>
	</li>
	<li class="<%= 'active' if current_page?(contacts_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Contacto'.html_safe, contacts_path %>
	</li>
	<!--DROPDOWN DE LOS LINKS DE INTERES-->
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="glyphicon glyphicon-leaf"></i> Redes sociales
		<span class="caret"></span></a>
		<ul class="dropdown-menu" role="navigation">
			<li class="dropdown-header"> Nuestras redes</li>
			<% @interest_links.each do |interest|%>
				<li>
					<%if interest.social == 1%> 
						<%=link_to "<i class='fa fa-dropbox'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 2%>
						<%=link_to "<i class='fa fa-facebook'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 3%>
						<%=link_to "<i class='fa fa-flickr'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>  
					<%elsif interest.social == 4%>
						<%=link_to "<i class='fa fa-foursquare'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 5%>
						<%=link_to "<i class='fa fa-github'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>  
					<%elsif interest.social == 6%>
						<%=link_to "<i class='fa fa-google-plus'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 7%>
						<%=link_to "<i class='fa fa-instagram'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 8%>
						<%=link_to "<i class='fa fa-linkedin'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 9%>
						<%=link_to "<i class='fa fa-pinterest'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%> 
					<%elsif interest.social == 10%>
						<%=link_to "<i class='fa fa-tumblr'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>  
					<%elsif interest.social == 11%>
						<%=link_to "<i class='fa fa-twitter'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 12%>
						<%=link_to "<i class='fa fa-wordpress'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%> 
					<%elsif interest.social == 13%>
						<%=link_to "<i class='fa fa-yahoo'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%elsif interest.social == 15%>
						<%=link_to "<i class='fa fa-youtube'></i> ".html_safe+interest.name,interest.url, :target => "_blank"%>
					<%else%>
						<%=link_to interest.name,interest.url, :target => "_blank"%>
					<%end%>
					
				</li>
			<%end%>
		</ul>
	</li>
<%else%>
	<li class="<%= 'active' if current_page?(users_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Mi cuenta'.html_safe, users_path %>
	</li>
	<%if current_user.category != 4%>
		<li class="<%= 'active' if current_page?(finances_path) %>">
			<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Cuentas claras'.html_safe, finances_path %>
		</li>
	<%end%>
	<li class="<%= 'active' if current_page?(portals_estatuto_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Estatuto'.html_safe, portals_estatuto_path %>
	</li>
	<li class="<%= 'active' if current_page?(organizations_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Organización CONEIB'.html_safe, organizations_path %>
	</li>
	<%if current_user.category != 4%>
		<li class="<%= 'active' if current_page?(resources_path) %>">
			<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Recursos'.html_safe, resources_path %>
		</li>
	<%end%>
	<li class="<%= 'active' if current_page?(events_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-leaf"></i> Eventos'.html_safe, events_path %>
	</li>
	<!--DROPDOWN DEL FORO-->
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class="glyphicon glyphicon-leaf"></i> Foro
		<span class="caret"></span></a>
		<ul class="dropdown-menu" role="navigation">
			<li class="dropdown-header"> <h4 class="be-green">Temas de discusión</h4></li>
			<% @topics.last(5).each do |topic|%>
				<li>
					<%=link_to topic.title.truncate(25), topic%>
				</li>
			<%end%>
			<li><%=link_to "Ver todos", topics_path%></li>
		</ul>
	</li>

	<!-- Poner solo si es administrador -->
	<%if current_user.category != 3%>
		<li class="<%= 'active' if current_page?(administration_index_path) %>">
			<%= link_to '<i class="glyphicon glyphicon-cog"></i> Administrar sitio'.html_safe, administration_index_path %>
		</li>
	<%end%>
	<li class="<%= 'active' if current_page?(destroy_user_session_path) %>">
		<%= link_to '<i class="glyphicon glyphicon-off"></i> Cerrar sesión'.html_safe, destroy_user_session_path, method: :delete %>
	</li>
   
<%end%>