<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1">
	<title>ANEIB</title>
	<%= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<%= link_to(image_tag("logo.png", id: "logo"),root_path) %>
				</li>
				<%= render "layouts/navigation"%>
			</ul>
		</div>

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div>
							<div class="menu">
								<button type="button" class="btn btn-default" href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button>	
							</div>
							<div class="breadcrumbs">
								<ol class="breadcrumb">
									<%= render_breadcrumbs :tag => :li, :separator => "" %>
								</ol>
							</div>
						</div>
							<%= render 'layouts/messages' %>
						<%if user_signed_in?%>
							<%if current_user.status == 1%>
								<div class="alert alert-alert"><%=current_user.nickname%>, te recordamos que ANEIB consta de dos confirmaciones de usuarios, la que realizas por correo electrónico y a través de un administrador del sitio. Tu usuario no ha sido validado aún por un administrador del sitio. En caso de llevar tiempo de esta forma, por favor comunícate con un administrador desde la página de <%= link_to 'Contacto', contacts_path,:class=>"btn btn-default btn-contact" %>. Recuerda adjuntar tus datos de usuario para analizar su situación. </div>
							<%end%>
							<%if current_user.status == 3%>
								<div class="alert alert-alert">
									<%=current_user.nickname%> tu cuenta ha sido bloqueada por un administrador. Si deseas comunicarte con administrador y así aclarar tu situación, puedes hacerlo a través de la página de <%= link_to 'Contacto', contacts_path,:class=>"btn btn-default btn-contact" %>.
								</div>
							<%end%>
						<%end%> 	
						<%=yield%>
					</div>
				</div>
			</div>
		</div>
		
		<div id="footer">
			<!--Pie de página-->
			ANEIB - Asociación Nacional de Estudiantes de Ingeniería en Biotecnología
			<br>
			<%=link_to "Contacto: directorio@aneib.cl", contacts_path, :style=>"color:white;"%>
		</div>
	</div>

</body>


<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
	$("#wrapper").toggleClass("toggled");
	});
	$('#eg-basic').froalaEditor({
		language: 'es',
		toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', '|', 'quote', 'insertHR', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
		imageResizeWithPercent: true,
		imageDefaultWidth: 70,
		imageInsertButtons: ['imageByURL'],
		height: 100,
	});
</script>

</html>
